  .main-content {
  display: block;
  margin-left: 700px;
  padding: 20px;
}

/* -------------------------------Navbar------------------------------- */

.main-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 7%;
  margin-top: 3%;
  display: flex;
}

.cv {

  padding: 0;
  border-bottom: 2px solid rgb(139, 68, 160);
  /* text-decoration: underline;
  text-decoration-color: orange; */
}

.touch {
  color: black;
  background-color: rgb(139, 68, 160);
  margin-top: 13px;
  margin-left: 20px;
  padding: 0 20px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}
.touch:hover {
  background-color: black;
  
}
.touch-text {
  font-size: 15px;
  border: none;
  transition:  0.5s;
}

.touch-text:hover{
  color: white;
}
/* ---------------------------------------INTRODUCTION--------------------------------------- */

.top {
  margin-top: 20%;
  display: flex;
}

.top-num {
  padding: 6px 11px 6px 11px;
  border: 1px solid rgb(139, 68, 160);
  border-radius: 50%;
}

.top-intro {
  margin-top: 3.5%;
  margin-left: 3%;
}

.top-line {
  margin-top: 1%;
  margin-left: 3%;
  height: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(139, 68, 160);
}

.intro h2{
  margin-left: 7%;
  font-size: 50px;
}

.intro p{
  margin-left: 7%;
  font-size: 20px;
}

.intro button{
  margin-left: 7%;
}

/* ---------------------------------------SERVICES--------------------------------------- */

  .service-btn{
    width: 90%;
    height: 70px;
    margin: 10px 0;
    padding-left: 30px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    text-align: left;
    background-color: rgba(167, 96, 189, 0.37);
  }

  .service-plus{
    position: absolute;
    margin-top: -2px;
    margin-right: 6%;
    font-size: 25px;
    right: 0;
  }

/* ---------------------------------------EXPERIENCE--------------------------------------- */

.exp-head h3{
  color: rgba(0, 0, 0, 0.774);
  text-decoration: underline;
  font-size: 30px;
  margin-left: 6%;
}

.exp-head p{
  margin-left: 10%;
}

/* ---------------------------------------Skills--------------------------------------- */
  .skills h3{
    margin-left: 7%;
    font-size: 25px;
  }
  .skills-btn{
    width: 43%;
    height: 90px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(167, 96, 189, 0.37);
  }

  .skills-text{
    font-size: 13px;
  }
/* --------------------------------------Contact-------------------------------------------- */

.contact-back{
  background-color: rgb(139, 68, 160);
  border-radius: 20px;
  height: 350px;
  margin-left: 7%;
}

.contact-back p{
  margin: 0;
  padding-top: 7%;
  text-align: center;
  font-size: 15px;
}

.contact-back h1{
  text-align: center;
  padding-top: 7%;
}
.contact-social{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}
.contact-icons{
  color: white;

  padding: 12px;
  font-size: 30px;
  transition: 0.5s;
}

.contact-icons:hover{
  color: black;
  transition: 0.5s;
  font-size: 32px;
}
/* --------------------------------------Media Query-------------------------------------------- */

@media screen and (max-width: 600px){
  .main-content {
    position: flex;
  }
}